Y2Q1/SDB/Project/Code/Scripts/pbfe2/pbfe_lib/spark-assembly-1.6.0-hadoop2.6.0.jar
Y2Q2/Research/Code/PBFE3/out/artifacts/PBFE3_jar/PBFE3.jar
Y2Q3/PBFE4/.idea/workspace.xml
Y2Q3/PBFE4/.idea/*
Y2Q3/PBFE4/target/*
Y2Q3/PBFE4/project/*
Y2Q3/PFlock/.idea/workspace.xml
Y2Q3/PFlock/.idea/*
Y2Q3/PFlock/target/*
Y2Q3/PFlock/project/*
Y2Q4/PFlock/.idea/workspace.xml
Y2Q4/PFlock/.idea/*
Y2Q4/PFlock/project/target/streams/*
Y2Q4/PFlock/target/resolution-cache/*
Y2Q4/PFlock/target/*
Y2Q4/PFlock/project/*
Y2Q4/PFlock/project/target/*
*.class
*.centers
*.dat
app-2017*
